html, body {
    padding: 0;
    margin: 0;
}
#wrapper {
    margin: 0 auto;
    width: 860px;
    color: #333;
}
#menu {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
#menu li {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 15px;
}
#sidebar {
    display: inline-block;
    list-style: none;
    margin: 0 3% 0 0;
    padding: 0;
    width: 16%;
    vertical-align: top;
    background: #eee;
}
#sidebar li {
    padding: 10px;
}
#main {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}
#footer {
    background: #eee;
    margin: 20px 0 0 0;
    text-align: center;
}
#footer ul {
    /*border: 1px solid red;*/
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 200px;
    margin: 10px 30px;
    text-align: left;
    vertical-align: top;
}
#footer ul li {
    display: block;
}
